body
{
    /*background-color:#111111;*/
    background-image:url("img/background.png");
    background-size:contain;
    background-repeat:repeat;
    background-attachment:fixed;
}

table
{
    border-collapse:collapse;
    margin:auto;
}
table caption
{
    color:aqua;
    font-size:24px;
    font-weight:700;
}
tbody td, tbody tr 
{
    border: solid 1px;
    color: aquamarine;
    text-align:center;
}
.period
{
    font-size:40px;
    font-weight:700;
}
.page
{
    font-size:22px;
    font-weight:400;
}
.pow_level
{
    text-align:right;
    font-size:12px;
    height:100px;
    display:flex;
    align-items:flex-end;
    flex-direction:column;
}
/* Хим елементы */
.cell {
    position: relative;
    width: 110px;
    min-width:110px;
    height: 100px;
    min-height:100px;
    border: solid 1.5px black;
    font-family: Arial, sans-serif;
    --box-shadow-color:rgb(0,0,0);
}
.simple-cell {
    font-size: 24px;
    --box-shadow-color: gray;
    box-shadow: inset var(--box-shadow-color) 0 0 7px 2px;
}
body:has(.GROUP_BY_COLOR) tbody:has(.simple-cell:hover) .simple-cell:not(:hover),
body:has(.GROUP_BY_COLOR) tbody:has(.cell-red:hover) .cell-red:not(:hover),
body:has(.GROUP_BY_COLOR) tbody:has(.cell-yellow:hover) .cell-yellow:not(:hover),
body:has(.GROUP_BY_COLOR) tbody:has(.cell-blue:hover) .cell-blue:not(:hover),
body:has(.GROUP_BY_COLOR) tbody:has(.cell-green:hover) .cell-green:not(:hover),
body:has(.GROUP_BY_COLOR) tbody:has(.cell-mid-green:hover) .cell-mid-green:not(:hover),

body:has(.GROUP_BY_PAGE) tr:has(.simple-cell:hover) .simple-cell:not(:hover),
body:has(.GROUP_BY_PAGE) tr:has(.cell:hover) .cell:not(:hover){
    box-shadow: inset var(--box-shadow-color) 0px 0px 5px 6px;
}


.simple-cell:hover,
.cell-red:hover,
.cell-yellow:hover,
.cell-blue:hover,
.cell-green:hover,
.cell-mid-green:hover {
    box-shadow: inset var(--box-shadow-color) 0px 0px 25px 1px;
}
.cell-red {
    /*background-color:brown;*/
    --box-shadow-color: red;
    box-shadow: inset var(--box-shadow-color) 0 0 5px 2px;
}
.cell-yellow {
    /*background-color: darkgoldenrod;*/
    --box-shadow-color: yellow;
    box-shadow: inset var(--box-shadow-color) 0 0 5px 2px;
}
.cell-blue {
    /*background-color: cornflowerblue;*/
    --box-shadow-color: cornflowerblue;
    box-shadow: inset var(--box-shadow-color) 0 0 5px 2px;
}
.cell-green {
    /*background-color: greenyellow;*/
    --box-shadow-color: cyan;
    box-shadow: inset var(--box-shadow-color) 0 0 5px 2px;
}
.cell-mid-green {
    /*background-color: mediumspringgreen;*/
    --box-shadow-color: mediumspringgreen;
    box-shadow: inset var(--box-shadow-color) 0 0 5px 2px;
}
.number
{
    position:absolute;
    top:4px;
    right:10px;
    font-size: 12px;
    font-weight:600;
}
.symbol
{
    position:absolute;
    top:14px;
    left:4px;
    font-size:24px;
    font-weight:700;
}
.name
{
    position:absolute;
    top:auto;
    left:4px;
    font-size:14px;
    font-family:monospace;
}
.mass
{
    position:absolute;
    bottom:4px;
    left:6px;
    font-size:12px;
}
.spec
{
    position:absolute;
    bottom:4px;
    right:6px;
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    font-size:9.2px;
    font-family:monospace;
    font-weight:600;
    
}
.number2 {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 12px;
    font-weight: 600;
}
.symbol2
{
    position: absolute;
    top: 14px;
    right: 4px;
    font-size: 24px;
    font-weight: 700;
}
.name2 
{
    position: absolute;
    top: auto;
    right: 4px;
    font-size: 14px;
    font-family: monospace;
}
.mass2 
{
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 12px;
}
.spec2 
{
    position: absolute;
    bottom: 4px;
    left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 9.2px;
    font-family: monospace;
    font-weight: 600;
}
