body {
    background-image: linear-gradient(to bottom right, rgb(69, 69, 69), rgb(40, 40, 40));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 32px;
    color: white;
}

a
{
    color: lightseagreen;
}
a:hover {
    color: limegreen;
}
